/*
 * Style sheet for CVSClient.com | sidemenu
 */

BODY {
    background: white;
    color: black;
    margin: 0.0in;
    padding: 0.0in;
    font-family: GENEVA,ARIAL,HELVETICA;
    font-size: 10pt;
}
A {
    font-family: GENEVA,ARIAL,HELVETICA;
    font-size: 10pt;
    font-weight: bold; 
    text-decoration: none;
}
A:link {
    color: #223300;
}
A:visited {
    color: #223300;
}
A:active {
    color: #223300;
}
A:focus {
    color: #223300;
}
A:hover {
    color: #559933;
}

IMG {
    border-style: none; 
    border-width: 0;
}

FORM {
    margin: 0.0in;
    padding: 0.0in;
    spacing: 0.0in;
}


SPAN.firstlevel {
    font: bold 10pt GENEVA,ARIAL,HELVETICA;
}
SPAN.firstlevel A {
    font: bold 10pt GENEVA,ARIAL,HELVETICA;
}
SPAN.secondlevel {
    font: normal 10pt GENEVA,ARIAL,HELVETICA;
}
SPAN.secondlevel A {
    font: normal 10pt GENEVA,ARIAL,HELVETICA;
}

/*
 * Collapsible List Generic Elements
 */

#spacer { position: absolute; height: 1120; }
#lItem0 { position:absolute; } 
#lItem1 { position:absolute; } 
#lItem2 { position:absolute; } 
#lItem3 { position:absolute; } 
#lItem4 { position:absolute; } 
#lItem5 { position:absolute; } 
#lItem6 { position:absolute; } 
#lItem7 { position:absolute; } 
#lItem8 { position:absolute; } 
#lItem9 { position:absolute; } 
#lItem10 { position:absolute; } 
#lItem11 { position:absolute; } 
#lItem12 { position:absolute; } 
#lItem13 { position:absolute; } 
#lItem14 { position:absolute; } 
#lItem15 { position:absolute; } 
#lItem16 { position:absolute; } 
#lItem17 { position:absolute; } 
#lItem18 { position:absolute; } 
#lItem19 { position:absolute; } 
#lItem20 { position:absolute; } 
#lItem21 { position:absolute; } 
#lItem22 { position:absolute; } 
#lItem23 { position:absolute; } 
#lItem24 { position:absolute; } 
#lItem25 { position:absolute; } 
#lItem26 { position:absolute; } 
#lItem27 { position:absolute; } 
#lItem28 { position:absolute; } 
#lItem29 { position:absolute; } 
#lItem30 { position:absolute; } 
#lItem31 { position:absolute; } 
#lItem32 { position:absolute; } 
#lItem33 { position:absolute; } 
#lItem34 { position:absolute; } 
#lItem35 { position:absolute; } 
#lItem36 { position:absolute; } 
#lItem37 { position:absolute; } 
#lItem38 { position:absolute; } 
#lItem39 { position:absolute; } 
#lItem40 { position:absolute; } 
#lItem41 { position:absolute; } 
#lItem42 { position:absolute; } 
#lItem43 { position:absolute; } 
#lItem44 { position:absolute; } 
#lItem45 { position:absolute; } 
#lItem46 { position:absolute; } 
#lItem47 { position:absolute; } 
#lItem48 { position:absolute; } 
#lItem49 { position:absolute; } 
#lItem50 { position:absolute; } 
#lItem51 { position:absolute; } 
#lItem52 { position:absolute; } 
#lItem53 { position:absolute; } 
#lItem54 { position:absolute; } 
#lItem55 { position:absolute; } 
#lItem56 { position:absolute; } 
#lItem57 { position:absolute; } 
#lItem58 { position:absolute; } 
#lItem59 { position:absolute; } 
#lItem50 { position:absolute; } 
#lItem60 { position:absolute; } 
#lItem61 { position:absolute; } 
#lItem62 { position:absolute; } 
#lItem63 { position:absolute; } 
#lItem64 { position:absolute; } 
#lItem65 { position:absolute; } 
