/*
 * Style sheet for CVSClient.com
 */

BODY {
    background: white;
    color: black;
    margin: 0.0in;
}
A:link {
    color: green;
}
A:visited {
    color: orange;
}
A:active {
    color: red;
}
A:focus {
    color: red;
}
A:hover {
    color: red;
}

IMG {
    border-style: none; 
    border-width: 0;
}

BODY.head {
    margin: 0.0in;
}
BODY.head TABLE {
    margin: 0.0in;
    border: none;
}
BODY.head TD.menu {
    background: black;
    color: white;
}
BODY.head A {
    font-family: Verdana, Arial;
    font-size: 8pt;
    font-weight: bold; 
    text-decoration: none;
}
BODY.head A:link {
    color: white;
}
BODY.head A:visited {
    color: white;
}
BODY.head A:active {
    color: white;
}
BODY.head A:focus {
    color: white;
}
BODY.head A:hover {
    color: gold;
}

BODY.topmenu {
    margin: 0.0in;
}
BODY.topmenu TABLE {
    margin: 0.0in;
    border: none;
}
BODY.topmenu TD {
    background: #bb4488;
/*    background: #8844bb; */
    color: white;
}
BODY.topmenu A {
    font-family: Verdana, Arial;
    font-size: 10pt;
    font-weight: bold; 
    text-decoration: none;
}
BODY.topmenu A:link {
    color: white;
}
BODY.topmenu A:visited {
    color: white;
}
BODY.topmenu A:active {
    color: white;
}
BODY.topmenu A:focus {
    color: white;
}
BODY.topmenu A:hover {
    color: red;
}



BODY.body TABLE.header {
    color: #009911;
}
BODY.body TABLE.header TD.logo {
    font-family: 'Times New Roman',Helvetica,Georgia,Arial; 
    font-size: 18pt;
    color: #009911;
}
BODY.body TABLE.header TD.menu {
    font-family: Arial,'Times New Roman',Helvetica; 
    font-size: 10pt;
    color: #009911;
}
BODY.body TABLE.header A:link {
    color: #009911;
}
BODY.body TABLE.header A:visited {
    color: #009911;
}
BODY.body TD.title {
    font-family: Arial,Helvetica; 
    font-size: 18pt;
    color: #113311;
}
BODY.body TD.titlebox {
    background: #ccddaa;
}
BODY.body TD.horzbar {
    background: #aaccdd;
}


DIV.date {
    text-align: right;
    color: gray;
    font-size: 10pt;
    font-weight: normal;
    padding-top: 0.0in;
    padding-bottom: 0.01in;
}
DIV.copyright {
    text-align: center;
    color: silver;
    font-size: 10pt;
    font-weight: normal;
    padding-top: 0.03in;
    padding-bottom: 0.1in;
}
DIV.copyright A {
    color: silver;
}
DIV.copyright A:link {
    color: silver;
}
DIV.copyright A:visited {
    color: silver;
}
DIV.copyright A:active {
    color: silver;
}
DIV.copyright A:focus {
    color: silver;
}
DIV.copyright A:hover {
    color: gray;
}


BODY.sidemenu TABLE.menu-border
{
    BACKGROUND-COLOR: #cccc99;
}
BODY.sidemenu TR.menu-blank-row
{
    BACKGROUND-COLOR: #ffffff;
}
BODY.sidemenu TR.menu-odd-row
{
    BACKGROUND-COLOR: #cccc99;
}
BODY.sidemenu TD.menu-header
{
    BACKGROUND-COLOR: #ffffff;
}
BODY.sidemenu TD.menu-header-inside
{
    BACKGROUND-COLOR: #cccc99;
    COLOR: #ffffff;
    FONT: bold 10pt ARIAL,HELVETICA;
}
BODY.sidemenu TD.menu-body
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #cccc99;
    FONT: bold 10pt GENEVA,ARIAL,HELVETICA;
    padding-left: 0.05in;
}
BODY.sidemenu A {
    font-family: GENEVA,ARIAL,HELVETICA;
    font-size: 10pt;
    font-weight: bold; 
    text-decoration: none;
}
BODY.sidemenu A:link {
    color: #223300;
}
BODY.sidemenu A:visited {
    color: #223300;
}
BODY.sidemenu A:active {
    color: #223300;
}
BODY.sidemenu A:focus {
    color: #223300;
}
BODY.sidemenu A:hover {
    color: #cccc99;
}


BODY.body {
    margin: 0.1in;
}


BODY.sidetitle {
    margin: 0.0in;
}
BODY.sidetitle TABLE {
    margin: 0.0in;
    border: none;
}
BODY.sidetitle TD {
/*    background: #4488bb; */
/*    background: #ddaacc; */
    background: silver;
    color: black;
    font-family: Verdana, Arial;
    font-size: 10pt;
    font-weight: bold; 
}

BODY.bodytitle {
    margin: 0.0in;
}
BODY.bodytitle TABLE {
    margin: 0.0in;
    border: none;
}
BODY.bodytitle TD {
/*    background: #ddaacc; */
    background: silver;
    color: black;
    font-family: Verdana, Arial;
    font-size: 10pt;
    font-weight: bold; 
}

BODY.foottitle {
    margin: 0.0in;
}
BODY.foottitle TABLE {
    margin: 0.0in;
    border: none;
}
BODY.foottitle TR {
    background: silver;
}
BODY.foottitle TD {
/*    background: #ddaacc; */
    background: silver;
    color: black;
    font-family: Verdana, Arial;
    font-size: 10pt;
    font-weight: bold; 
}

BODY.toolbar {
    margin: 0.0in;
}
BODY.toolbar TABLE {
    margin: 0.0in;
    border: none;
}
BODY.toolbar TD {
    background: #bb4488;
    color: white;
}
BODY.toolbar A {
    font-family: Verdana, Arial;
    font-size: 10pt;
    font-weight: bold; 
    text-decoration: none;
}
BODY.toolbar A:link {
    color: white;
}
BODY.toolbar A:visited {
    color: white;
}
BODY.toolbar A:active {
    color: white;
}
BODY.toolbar A:focus {
    color: white;
}
BODY.toolbar A:hover {
    color: red;
}


TABLE.fancybox {
    background: ivory;
    width: 100%;
    border: 2px solid #aaccdd;
}
TABLE.fancybox TR.header {
    background: #aaccdd;
    font-size: 12pt;
    font-weight: bold;
}

TABLE.plainbox {
    background: ivory;
    width: 100%;
    border: 0px solid #aaccdd;
}
TABLE.plainbox TR.header {
    background: #aaccdd;
    height: 26px;
    font-size: 13pt;
    font-weight: bold;
}

