<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_2.dtd">
<taglib>
  <tlib-version>1.0</tlib-version>
  <jsp-version>1.1</jsp-version>
  <short-name>common</short-name>
  <uri>http://www.cvsclient.com/taglibs/common-1.0</uri>
  <description>
  ...
  </description>
  <tag>
    <name>core</name>
    <tag-class>com.cvsclient.taglibs.common.CoreTag</tag-class>
    <attribute>
      <name>message</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
    </attribute>
  </tag>
  <tag>
    <name>apptitle</name>
    <tag-class>com.cvsclient.taglibs.common.AppTitleTag</tag-class>
    <body-content>empty</body-content>
    <description>Prints out the application title.</description>
  </tag>
  <tag>
    <name>ifdebug</name>
    <tag-class>com.cvsclient.taglibs.common.IfDebugTag</tag-class>
    <attribute>
      <name>level</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
    </attribute>
    <attribute>
      <name>scope</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
    </attribute>
  </tag>
</taglib>


