<HTML>
<HEAD>
<%-- <META HTTP-EQUIV="REFRESH" CONTENT="0; URL=home.jsp">  --%>
<TITLE>CVS Client (Redirection Page)</TITLE>
</HEAD>
<BODY>
<SCRIPT type="text/javascript" language="JavaScript">
// Frame Buster
setTimeout ("bustFrame()", 2000);
function bustFrame() {
    if (parent.frames.length != 0) {
        parent.location=document.location;
    } else {
       document.location="home.jsp";
    }
}
</SCRIPT>
</BODY>
</HTML>
